@mixin oTeaserVideo {
	.o-teaser__heading:before {
		@include oIconsGetIcon('play', oColorsGetPaletteColor('white'), 15, $apply-width-height: false, $iconset-version: 1);
		content: '';
		background-color: oColorsGetPaletteColor('slate');
		margin-right: 0.25em;
		width: 0.7em;
		height: 0.7em;
		min-width: 12px;
		min-height: 12px;
	}

	&.o-teaser--has-image {
		.o-teaser__heading:before {
			content: none;
		}
	}

	&.o-teaser--large {
		// 1. reorder meta to top
		// 2. reorder image above content
		// 3. replace borders
		// 4. centre align image

		$_o-teaser-content-padding: 20px;

		position: relative; // 1

		// this size is roughly the meta component line height + Y content padding
		padding-top: 58px; // 1

		display: flex; // 2
		flex-direction: column; // 2

		border: 1px solid $_o-teaser-color-border; // 3

		.o-teaser__meta {
			position: absolute; // 1
			top: $_o-teaser-content-padding; // 1
		}

		.o-teaser__content {
			order: 2; // 2
			border: 0; // 3
		}

		.o-teaser__image-container {
			order: 1; // 2
			padding: 0 $_o-teaser-content-padding; // 4

			&:after {
				content: none; // 3
			}
		}
	}

	.o-teaser__image-placeholder {
		position: relative;

		&:after {
			@include oIconsGetIcon('play', oColorsGetPaletteColor('white'), 30, $apply-width-height: false, $iconset-version: 1);
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			background-color: oColorsGetPaletteColor('slate');
			width: 15%;
			padding-top: 15%;
			z-index: 1;
		}
	}
}
