@mixin oTeaserVideo {
	.o-teaser__heading:before {
		@include oIconsGetIcon('play', oColorsGetPaletteColor('white'), 15, $apply-width-height: false, $iconset-version: 1);
		content: '';
		background-color: oColorsGetPaletteColor('slate');
		margin-right: 0.15em;
		width: 0.7em;
		height: 0.7em;
		min-width: 12px;
		min-height: 12px;
	}

	&.o-teaser--has-image {
		// hide the title prefix icon if there is an image...
		.o-teaser__heading:before {
			content: none;
		}


	}

	&.o-teaser--small {
		// ...except for when the image is hidden on small teasers on narrow viewports
		@include oGridRespondTo($until: 'M') {
			.o-teaser__heading:before {
				content: '';
			}
		}
	}

	// always hide the standfirst
	.o-teaser__standfirst {
		display: none;
	}

	// Add play icon overlay for image
	.o-teaser__image-placeholder {
		position: relative;

		&:after {
			@include oIconsGetIcon('play', oColorsGetPaletteColor('white'), 30, $apply-width-height: false, $iconset-version: 1);
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			width: 15%;
			padding-top: 15%;
			min-width: 20px;
			min-height: 20px;
			background-color: oColorsGetPaletteColor('slate');
		}
	}
}

@mixin oTeaserBigVideo {
	// This variation assumes no --has-image variation as it
	// is too specific and quirky to try and override!
	// It is designed to work with --large, --hero and --top-story variations.

	// hide the title prefix icon
	.o-teaser__heading:before {
		content: none;
	}

	.o-teaser__image-container {
		// use padding instead of margins so we don't have to worry about
		// the --stretch (flexbox) variant containing margins and doubling up.
		padding: 0 0 0.75em;
	}

	&.o-teaser--large .o-teaser__image-container,
	&.o-teaser--hero .o-teaser__image-container {
		padding-left: 10%;
		padding-right: 10%;
	}

	&.o-teaser--large .o-teaser__image-container {
		padding-top: 1em;
	}

	&.o-teaser--hero .o-teaser__image-container {
		padding-top: 0.5em;
	}
}
